* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-image: url("friends_title_treatment.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: conver;
    background-attachment: fixed;
    max-width: 1000px;
    margin:0 auto;
    font:16px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

h1 {
    align-self: center;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size:50px;
    font-weight: bold;
    letter-spacing: 5px;
}

header {
    display:flex;
    margin-top:10px;
    margin-bottom: 10px;
    color:white;
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0, 0, 0, 0.363));
}

.user-data {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    flex:1;
    flex-wrap: wrap;
}

.user-data > p {
    font-size: 19px; 
    margin-top:2px;
    margin-bottom:5px;
}

main {
    margin: 5px;
    padding: 5px;
    max-width: 980px;
}

.display-view{
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    padding: 40px;
    border:2px solid black;
    text-align: center;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 27px;
    background-color:rgba(255,255,255,.4);
    background-color:rgba(78, 119, 255, 0.9);
    background-image: linear-gradient(to right,rgb(1, 10, 39) ,rgba(6,35,24,.4));
    color:white;
}

.final-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:200px;
    padding: 10px;
    border:2px solid black;
    font-size: 26px;
    background-color:rgba(255,255,255,.4);
    background-color:rgba(78, 119, 255, 0.9);
    background-image: linear-gradient(to right,rgb(1, 10, 39) ,rgba(6,35,24,.4));
    color:white;
}

.final-view p{
    margin-bottom: 5px;
}

form{
    display:flex;
    flex-direction: column;
}

.flex-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width:100%;
}

.flex-container > section{
    display:flex;
    margin:5px;
}

.choice{
    position:relative;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    width:48%;
    height:45px;
    background-color:rgba(255,255,255,.4);
    background-color:rgba(1, 20, 82, 0.9);
    color:white;
}

.choice:hover{
    background-color:rgba(255,255,255,1);
    color:black;
}

.choice > input{
    position:absolute;
    left:0;
    margin-left: 10px;
    width:15px;
    height:15px;
}

label {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 75px;
    font-size:26px;
}

fieldset{
    border:none;
}

button{
    width:200px;
    height:50px;
    padding:5px;
    margin:15px auto;
    font-size: 25px;
    border:none;
    background-color:rgba(255,255,255,1);
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

button:hover{
    background-color: rgb(0, 138, 23);
    color:white;
    text-shadow: 2px 2px 3px black;
    font-size: 26px;
}

.correct{
    background-color:rgb(0, 138, 23);
    color:white;
}

.incorrect{
    background-color: red;
    color:white;
}


@media screen and (max-width:650px){
    body{
        min-width: 350px;
    }

    button{
        width:100%;
        height:50px;
        padding:5px;
        margin:5px auto;
    }

    .display-view{
        padding:4%;
    }

    header{
        flex-direction: column;
        align-items: center;
    }
    
    .user-data{
        margin-top: 10px;
        align-items: center;
    }

    .choice{
        width:100%;
    }
}