* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-image: url("friends_title_treatment.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: conver;
    background-attachment: fixed;
    max-width: 1000px;
    margin:0 auto;
    font:16px;
}

h1 {
    align-self: center;
    text-align: center;
    font-size:40px;
    font-weight: bold;
}

header {
    display:flex;
    margin-top:10px;
    margin-bottom: 10px;
    color:white;
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0, 0, 0, 0.363));
}

.user-data {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    flex:1;
    flex-wrap: wrap;
}

.user-data > p {
    font-size: 19px; 
    margin-top:2px;
    margin-bottom:5px;
}

main {
    margin: 5px;
    padding: 5px;
    max-width: 980px;
}

.display-view{
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    padding: 40px;
    border:2px solid black;
    text-align: center;
    font-size: 22px;
    background-color:rgba(255,255,255,.7);
}

.final-view{
    display: flex;
    flex-direction: column;
    height:200px;
    padding: 40px;
    border:2px solid black;
    text-align: center;
    font-size: 22px;
    background-color:rgba(255,255,255,.7);
}

.final-view p{
    margin-bottom: 5px;
}

form{
    display:flex;
    flex-direction: column;
}

.flex-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width:100%;
}

.flex-container > section{
    display:flex;
    margin:4px;
}

.choice{
    position:relative;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    width:49%;
    height:45px;
    margin:2px;
    background-color:rgba(255,255,255,.7);
}

.choice:hover{
    background-color:rgba(255,255,255,1);
}

.choice > input{
    position:absolute;
    left:0;
    margin-left: 10px;
    width:15px;
    height:15px;
}

label {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 75px;
    font-size:20px;
}

fieldset{
    border:none;
}

button{
    width:200px;
    height:50px;
    padding:5px;
    margin:15px auto;
    font-size: 32px;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}


@media screen and (max-width:650px){
    body{
        font-size: 14px;
        min-width: 350px;
    }

    /*form{
        flex-direction: column;
        width:100%;
    }

    form > section {
        width:100%;
        height:50px;
    }

    form > section:nth-child(even) {
        border-left:2px solid black;
    }*/

    button{
        width:100%;
        height:50px;
        padding:5px;
        margin:5px auto;
    }

    .display-view{
        padding:4%;
    }

    header{
        flex-direction: column;
        align-items: center;
    }
    
    .user-data{
        margin-top: 10px;
        align-items: center;
    }

}